#app .little-cai {
  height: 100%;
}

#app .little-cai .ant-layout {
  height: 100%;
}

.little-cai .ant-layout-header {
  display: flex;
}

.little-cai .ant-layout-header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.little-cai .header-content .user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content .user-info .anticon-heart {
  color: red;
  font-size: 20px;
  margin-right: 10px;
}

.body-content .ant-carousel .slick-slide img {
  width: 100%;
  height: 100%;
}
