.body-content .carousel-img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.body-content .carousel-one {
    background-image: url('/static/images/c1.jpeg');
}

.body-content .carousel-two {
    background-image: url('/static/images/c2.jpeg');
}

.body-content .carousel-three {
    background-image: url('/static/images/c3.jpeg');
}

.body-content .carousel-four {
    background-image: url('/static/images/c4.jpeg');
}

.body-content .carousel-five {
    background-image: url('/static/images/c5.jpeg');
}
